<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
</head>
<body>
<h1>translator</h1>
<section class="flex wrap">
    <div class="input">
        <label class="pure-material-textfield-outlined">
            <textarea id="input" placeholder=" " rows="10"></textarea>
            <span>Korea</span>
        </label>
        <button id="clear" class="pure-material-button-outlined center">Clear</button>
    </div>
    <div class="output">
        <label class="pure-material-textfield-outlined">
            <textarea id="output" placeholder=" " rows="10" readonly="readonly"></textarea>
            <span>English</span>
        </label>
        <button id="copy" class="pure-material-button-contained center">Copy</button>
    </div>
</section>
<script type="text/javascript" th:src="@{/js/index.js}"></script>
</body>
</html>