<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>맞역기</title>
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
</head>
<body>
<div class="header">
    <div class="header-inner">
        <h1 class="logo">Spechlator</h1>
        <ul class="menu">
            <li><a class="" href="#" title=""><span>맞역기</span></a></li>
            <li><a class="" href="#" title=""><span>번역</span></a></li>
        </ul>
    </div>
</div>
<section>
    <form id="form" name="form" class="flex wrap" onsubmit="return false">
        <input type="hidden" id="srcLang" name="srcLang" value="ko">
        <input type="hidden" id="tgtLang" name="tgtLang" value="en">
        <div class="input">
            <label class="pure-material-textfield-outlined">
                <textarea id="text" name="text" placeholder=" " rows="10"></textarea>
                <span>Korea</span>
            </label>
            <div>
                <div class="button-outline">
                    <button id="clear" class="pure-material-button-outlined">Clear</button>
                    <button id="send" class="pure-material-button-contained" th:onclick="'fnSend()'">Send</button>
                </div>
            </div>
        </div>
        <div class="output">
            <label class="pure-material-textfield-outlined">
                <textarea id="output" placeholder=" " rows="10" readonly="readonly"></textarea>
                <span>English</span>
            </label>
            <div>
                <div class="button-outline">
                    <button id="copy" class="pure-material-button-contained">Copy</button>
                </div>
            </div>
        </div>
    </form>
</section>
<section>
    <div class="flex wrap">
        <div class="input">
            <label class="pure-material-textfield-outlined">
                <textarea id="original-text" placeholder=" " rows="10" readonly="readonly"></textarea>
                <span>Original</span>
            </label>
        </div>
        <div class="output">
            <label class="pure-material-textfield-outlined">
                <textarea id="corrected-original-text" placeholder=" " rows="10" readonly="readonly"></textarea>
                <span>Translated Original</span>
            </label>
        </div>
    </div>
</section>
<script type="text/javascript" th:src="@{/js/plugins/jquery-3.6.3.min.js}"></script>

<script type="text/javascript" th:src="@{/js/index.js}"></script>
<script type="text/javascript" th:src="@{/js/index-fn.js}"></script>
</body>
</html>